@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: start center;
    /* margin: 10px; */
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 2px 0;
}

a {
    text-decoration: none;
    color: #fff;
}


picture img {
    width: 40px;
    object-fit: cover;
    object-position: center;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

button img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

input[type="checkbox"] {
    width: 40px !important;
    height: 40px !important;
}


.top-selection, .mid-selection, .bottom-selection {
    margin: 20px 0;
}

::placeholder {
    padding: 15px;
}

.team-number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* .team-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
} */

.player-names, .team-names {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
}

.player-names input {
    width: 140px;
    height: 40px;
    border: 1px solid #333
}

.team-names input {
    width: 180px;
    height: 40px;
    border: 1px solid #333
}

/* .player-names div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
} */

.player-names div {
    display: flex;
    justify-content: space-between; /* Ajusta para space-around ou center, se necessário */
    align-items: center;
    gap: 5px;
}

.player-number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-number input, .player-number input {
    width: 50px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #85B79D;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate-teams {
    width: 180px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: #85B79D;
    margin-right: 20px;
}

#refresh, #erase {
    width: 50px;
    height: 50px;
    background-color: #F87666;
    border: none;
    margin: 0 5px;
}

/* .teams-generated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

.teams-generated input {
    width: 120px;
    height: 30px;
    border: 1px solid #333;
}

.team-display {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
}